<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>@{{ page.username }} | {{ site.title }}</title>

    {% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h1>{{ page.username }}</h1>

        {% if page.youtube %}
            <a href="{{ page.youtube }}" target="_blank">YouTube</a>
        {% endif %}

        {% if page.facebook %}
            <a href="{{ page.facebook }}" target="_blank">Facebook</a>
        {% endif %}

        {% if page.twitter %}
            <a href="{{ page.twitter }}" target="_blank">Twitter</a>
        {% endif %}

        {% if page.github %}
            <a href="{{ page.github }}" target="_blank">Github</a>
        {% endif %}

        {% if page.email %}
            <a href="mailto:{{ page.email }}" target="_blank">Email</a>
        {% endif %}
        
        {% if page.other %}
            <a href="{{ page.other }}" target="_blank">Other</a>
        {% endif %}
        
        <br>

        {{ content }}

        <br>
        <h3>Posts by {{ page.username }}</h3>
        <ul>
          {% for post in site.posts %}
            {% if post.author == page.username %}
              <li>
                <a href="/blog{{ post.url }}">{{ post.title }}</a>
                <small> Posted on {{ post.date | date: "%b %d, %Y" }}</small>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
